@media only screen and (min-width: 2400px) {

    #centered-btns1_s0 {
        background: url('../images/cleaning1.png') no-repeat center center;
        background-size:cover;
    }
    #centered-btns1_s1 {
        background: url('../images/cleaning2.png') no-repeat center center;
        background-size:cover;
    }


}

@media only screen and (max-width: 1280px) {

    #centered-btns1_s4 {
        background: url('../images/wa.jpg') no-repeat center center;
        background-size:cover;
    }

}

@media only screen and (max-width: 1024px) {

    .text-content{
        margin: 10px 3%;
        width: 94%;
    }

    #header {
        
        position:relative;
        /*height:97px;*/
    }

    .menu-item a {
        margin: 2px !important;
        padding: 15px !important;
    }

    #mobile_menu {
        display:inline-block;
        width:100%;
        position:fixed;
        z-index:20;
        left:0px;
        background-color: #2a2c2b;
    }

    #mobile_menu > ul {
        margin-left:23px;
    }

    #mobile_menu_btn {
        width:64px;
        padding:13px 0 30px 0;
        margin-top:21px;
    }

    #mobile_menu_btn.open {
        background-color:#333333;
        padding:15px 0 30px 0;
    }

    #mobile_menu_btn a {
        width:36px;
        height:31px;
        display:inline-block;
        vertical-align:middle;
        background:url('../images/mobile_menu_btns.png') no-repeat left top;

    }

    #mobile_menu_btn.open a {
        width:28px;
        background:url('../images/mobile_menu_btns.png') no-repeat right top;
    }

    #sitename a {
        display:inline-block;
        font-size:40px;
         font-family: 'roboto_condensedregular'; /*font-family: 'Roboto', sans-serif;*/ /*CONDENSED*/
        font-weight: 300;
        color:#ffffff;
        text-transform:uppercase;
        line-height:97px;
        margin-left:15px;
    }

    #mobile_menu .lang {
        line-height:80px;
        margin-right:19px;
        padding-top:5px;
    }

    #mobile_menu .lang a {
        font-size:33px;
        background: url('../images/v_sep.png') no-repeat center left;
        padding: 0 6px 0 12px;
        display:inline-block;
    }

    #mob_search {
        line-height:88px;
        margin-right:25px;
    }

    #mob_search a {
        background:url('../images/search.png') no-repeat center left;
        width:53px;
        height:53px;
        display:inline-block;
        vertical-align:middle;
    }

    #top_search,
    #top_lang,
    #current_time_wrap {
        display:none !important;
    }

    #header_bg #logo {
        position: absolute;
        left: 23px;
        top: 43px;
        width:177px;
    }

    #footer .contacts ul {
        width:420px;
        margin:auto;
    }

    #footer .contacts ul li {
        width:173px;

    }

    #footer .contacts ul li + li + li {
        margin:0px;
        margin-top:74px;
    }

    #footer .contacts ul li + li + li + li{
        margin-left:73px;
        margin-top:74px;
    }

    #footer .add_info > div {
        display:block;
        margin-left:auto !important;
        margin-right:auto !important;
    }

    #footer .add_info .question_caption {
        font-size:39px;
        width:310px;
        text-align:left;
    }

    #footer .add_info .tel_caption {
        font-size:57px;
        margin-top:30px;
    }

    #footer .add_info .time_caption {
        font-size:26px;
        width:190px;
        margin:auto;
        margin-top:30px;
        background-size:75px;
        text-align:left !important;
        padding-left:100px;
    }

    #footer_bottom li {
        margin-left:38px;
    }

    #footer_bottom .social a {
        display:inline-block;
        width:77px;
        height:76px;
    }

    #footer_bottom .social .in {
        background: url('../images/in.png') no-repeat center center;
    }

    #footer_bottom .social .fb {
        background: url('../images/fb.png') no-repeat center center;
    }

    #footer_bottom .social .tw {
        background: url('../images/tw.png') no-repeat center center;
    }

    #footer_bottom .social .inst {
        background: url('../images/inst.png') no-repeat center center;
    }

    #footer_bottom .social .yt {
        background: url('../images/yt.png') no-repeat center center;
    }

    #content_wrap {
        margin:0 20px;
    }

    #content_inner {
        padding-top:40px;
        padding-bottom:50px;
    }

    #content_inner .left_img {
        display:block;
        margin:0px auto;
        margin-bottom:15px;
    }

    #content_inner p {
        width:auto;
    }

    #contacts_left {
        width:auto;
        margin:auto;
        max-width:430px;
        margin-top:78px;
    }

    #contacts_left .contacts_info {
        font-size:41px;
        padding-left:70px;
        margin-bottom: 30px;
    }

    #contacts_left .contacts_info.geo {
        background: url('../images/geo_black.png') no-repeat 5px 9px;
    }

    #contacts_left .contacts_info.tel {
        background: url('../images/tel_black.png') no-repeat 5px 9px;
    }

    #contacts_right {
        max-width:736px;
        width:auto;
        margin:auto;
    }

    #contacts_right form {
        border:2px solid #000000;
        padding:36px 30px;
    }

    #contacts_right form .contacts_field,
    #contacts_right form .contacts_area,
    #contacts_right form .contacts_btns {
        display:block;
        margin-right:0px;
    }

    #contacts_right form .contacts_field input,
    #contacts_right form .contacts_area textarea {
        width:100%;
        display:block;
        box-sizing: border-box;
    }

    #contacts_right form .contacts_field input {
        height:45px;
    }

    #modal {
        width:auto;
    }

    #map {
        width:430px;
        margin:auto;
    }

    #content_inner > p:first-child {
        text-align:center;
    }

    #content_inner > p:first-child > img{
        margin-bottom:20px;
        margin-left:auto;
        margin-right:auto;
    }

    .links_section ul{
        justify-content: space-around;
    }

}

@media only screen and (max-width: 940px) {

    .centered-btns_nav.next {
        right:15px;
        left:auto;
    }

    .centered-btns_nav.prev {
        left:15px;
        right:auto;
    }

    #content_wrap {
        width: 90% !important;
    }
    .links_section{
        width: 100%;
    }

}

@media only screen and (max-width: 924px) {

    #footer .add_info > div {
        display:block;
    }

    #content_inner p {
        text-align:left;
    }

    .sitemap img {
        display:block;
        margin-left:auto;
        margin-right:auto;
    }

}

@media only screen and (max-width: 590px) {

    #sitename a {
        display:inline-block;
        font-size:25px;
        line-height: 77px;
    }

    #mobile_menu .lang {
        /*line-height:85px;*/
        line-height: 65px;
    }

    #mobile_menu .lang a {
        font-size:18px;
        background-size:2.9%;
    }

    #mob_search {
        /*line-height:97px;*/
        line-height:77px;
    }

    #mob_search a {
        background-size:20px;
        width:20px;
        height:20px;
    }

    .links_section li .text_caption {
        height:70px;
        line-height:70px;
    }

    .links_section li {
        height:380px;
        margin-bottom: 50px;
    }

    .links_section li {
        max-width:100% !important;
    }


    .links_section.top {
        margin-top:0px;
        top: -150px;
        margin-bottom: -150px;
    }

    #footer .add_info .question_caption {
        font-size:33px;
        width:255px;
    }

    #footer .add_info .tel_caption {
        font-size:31px;
        margin-top:30px;
        margin-right:0px !important;
    }

    #footer .add_info .time_caption {
        font-size:21px;
        width:150px;
        background-size:58px;
        text-align:left !important;
        padding-left:80px;
    }

    #footer_bottom li {
        margin-left:20px;
    }

    #footer_bottom .social a {
        display:inline-block;
        width:52px;
        height:53px;
    }

    #footer_bottom .social .in {
        background-size: 50px;
    }

    #footer_bottom .social .fb {
        background-size: 50px;
    }

    #footer_bottom .social .tw {
        background-size: 50px;
    }

    #footer_bottom .social .inst {
        background-size: 50px;
    }

    #footer_bottom .social .yt {
        background-size: 50px;
    }

    #contacts_left .contacts_info {
        font-size:28px;
        padding-left:50px;
        margin:auto;
        margin-bottom: 30px;
        max-width:265px;
    }

    #contacts_left .contacts_info.geo {
        background: url('../images/geo_black.png') no-repeat 5px 7px;
        background-size:30px;
    }

    #contacts_left .contacts_info.tel {
        background: url('../images/tel_black.png') no-repeat 5px 7px;
        background-size:30px;
    }

    #contacts_right form .contacts_btns {
        text-align:center;
    }

    #footer .contacts ul {
        width: 100%;
        margin: auto;
    }

    #rc-imageselect,
    .g-recaptcha {
        transform:scale(0.77);
        -webkit-transform:scale(0.77);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }

    #map {
        width:265px;
        margin:auto;
    }

    #header_bg #logo {
        width:120px;
    }

}



@media only screen and (max-width: 460px) {

    #footer .contacts ul {
        display:block;
        margin:auto;
    }

    #footer .contacts ul li {
        width:auto;
        display:block;
        margin-left:0px !important;
        margin-top:50px !important;
    }

}

@media only screen and (max-width: 449px) {

    #contacts_right form .contacts_btns #clean_btn {
        margin-right:0px;
        margin-bottom:15px;
    }

}

@media only screen and (max-width: 405px) {

    #sitename {
        display:none;
    }

    #mobile_menu .lang {
        margin-right:10px;
    }

    #mob_search {
        margin-right:10px;
    }

    /*#header_bg #logo {
        left:0px;
        right:0px;
    }*/

    .links_section li {
        max-width:100% !important;
    }

    .links_section li,
    .links_section li a,
    .links_section li img {
        width:200px;
    }

    #footer_bottom li {
        margin-left:15px;
    }

    #footer_bottom .social a {
        display:inline-block;
        width:42px;
        height:43px;
    }

    #footer_bottom .social .in {
        background-size: 42px;
    }

    #footer_bottom .social .fb {
        background-size: 42px;
    }

    #footer_bottom .social .tw {
        background-size: 42px;
    }

    #footer_bottom .social .inst {
        background-size: 42px;
    }

    #footer_bottom .social .yt {
        background-size: 42px;
    }

    #contacts_left .contacts_info {
        font-size:22px;
        padding-left:45px;
        margin-bottom: 30px;
    }

    #contacts_left .contacts_info.geo {
        background: url('../images/geo_black.png') no-repeat 5px 2px;
        background-size:25px;
    }

    #contacts_left .contacts_info.tel {
        background: url('../images/tel_black.png') no-repeat 5px 2px;
        background-size:25px;
    }

    #rc-imageselect,
    .g-recaptcha {
        transform:scale(0.60);
        -webkit-transform:scale(0.60);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }

}

